<div class="bio-container">
    <div class="bio">
        <div class="bio-photo left">picture</div>
        <p class="bio-text right">
            This is me.
            <br>
            <br>
            I’m currently a designer & art director at TILT in Detroit, Michigan.
            <br>
            <br>
            I aim to solve complex problems with mindful and detail-oriented design.
            <br>
            <br>
            <br>
            9am - 5pm: designer.
            <br>
            5pm - 9am: musician, photographer,
            backpacker & hot sauce sommelier.
            <br>
            <br>
            <br>
            CV can be found here.
        </p>
    </div>
    <div class="contact">
        <app-contact></app-contact>
    </div>
</div>